{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
    <title>Quiz - DevPro</title>
    <link rel="stylesheet" href="{% static 'assets/styles/app.css' %}"/>
</head>
<body>
<div class="game-page">
    <p class="subtitle-quiz">Quiz</p>
    <p class="subtitle-page">Dev Pro</p>

    <div class="container">

        <div id="loader"></div>

        <div id="game" class="justify-center flex-column animate-bottom hidden">

            <h2>Questão {{ indice }}</h2>
            <h3>{{ pergunta.enunciado }}</h3>
            {% for alternativa in pergunta.alternativas.array %}
            <form method="post" action="/perguntas/{{indice}}">
                <div class="choice-container">
                     {% csrf_token %}
                    <input type="hidden" name="resposta_indice" value="{% cycle 0 1 2 3 %}" />
                    <button type="submit" class="choice-prefix">{% cycle 'A' 'B' 'C' 'D' %}</button>
                    <button class="choice-text{% if forloop.counter0 == resposta_indice  %} incorrect{% endif %}">{{alternativa}}</button>
                </div>
            </form>
            {% endfor %}
        </div>

    </div>
</div>
</body>
<script src="{% static 'assets/js/script.js' %}"></script>
</html>